db.json
[{"id":"cbc5400b.2b717","type":"tab","label":"Derruba Bot","disabled":false,"info":""},{"id":"c5436b6d.c75428","type":"twitter in","z":"cbc5400b.2b717","twitter":"","tags":"#derrubabot","user":"false","name":"","inputs":0,"x":280,"y":120,"wires":[["d9a27f49.69452","d41e9cb4.1b214","8a88d281.a12e7"]]},{"id":"d9a27f49.69452","type":"debug","z":"cbc5400b.2b717","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":80,"wires":[]},{"id":"93eab51e.837438","type":"function","z":"cbc5400b.2b717","name":"","func":"msg.payload = {}\nmsg.payload.chatId = \nmsg.payload.type = \"message\"\nmsg.payload.content = '@'+msg.tweet.user.screen_name+' '+msg.text+' '+'https://twitter.com/'+msg.tweet.user.screen_name+'/status/'+msg.tweet.id_str\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["1e03f0a9.783bff"]]},{"id":"d41e9cb4.1b214","type":"change","z":"cbc5400b.2b717","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["93eab51e.837438"]]},{"id":"8a88d281.a12e7","type":"function","z":"cbc5400b.2b717","name":"","func":"return { payload : msg.tweet.entities.user_mentions[0].id_str };","outputs":1,"noerr":0,"x":110,"y":280,"wires":[["9a32a989.af5ef8","f2c4e9c5.0a7078"]]},{"id":"9a32a989.af5ef8","type":"debug","z":"cbc5400b.2b717","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":280,"wires":[]},{"id":"f2c4e9c5.0a7078","type":"exec","z":"cbc5400b.2b717","command":"python3 /home/pi/bon.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":400,"wires":[["c022cd6c.93a9d","c4332b04.1e4f68"],[],[]]},{"id":"84cff9d8.ee4ba8","type":"debug","z":"cbc5400b.2b717","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":480,"wires":[]},{"id":"c022cd6c.93a9d","type":"string","z":"cbc5400b.2b717","name":"","methods":[{"name":"between","params":[{"type":"str","value":"'universal':"},{"type":"str","value":"}, 'categories'"}]}],"prop":"payload","propout":"botometer.score","object":"msg","objectout":"msg","x":520,"y":400,"wires":[["7c019872.5d1b68"]]},{"id":"7c019872.5d1b68","type":"function","z":"cbc5400b.2b717","name":"","func":"msg.payload = {}\nmsg.payload.chatId = \nmsg.payload.type = \"message\"\nmsg.payload.content = 'Bot or Not:'+' '+(msg.botometer.score)*100+'%'\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["84cff9d8.ee4ba8","b8de140a.416018"]]},{"id":"1e03f0a9.783bff","type":"telegram sender","z":"cbc5400b.2b717","name":"","bot":"","x":870,"y":340,"wires":[[]]},{"id":"b8de140a.416018","type":"telegram sender","z":"cbc5400b.2b717","name":"","bot":"","x":910,"y":420,"wires":[[]]},{"id":"c4332b04.1e4f68","type":"debug","z":"cbc5400b.2b717","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":340,"wires":[]}]